{% block edit_experience %}
	<form action="{{ path('_edit_experiencia') }}" method="POST" role="form">
	{% if datosE %}
		<div class="panel-group" id="accordionExperience">
			
		{% for exp in datosE %}
	
			<div id="panelExperiencia{{loop.index}}" class="panel panel-primary">
			    <div class="panel-heading">
			    	
			      	<h4 class="panel-title text-center">
			        	<a data-toggle="collapse" data-parent="#accordionExperience" href="#experiencia{{ loop.index }}">
			        	<span class="badge pull-left">{{ loop.index }}</span>
			          	{{ exp.rol}}.
			        	</a>
			        	<button type="button" id="experienciaClose{{ loop.index }}" class="close">&times;</button>
			     	</h4>
			    </div>
			    <div id="experiencia{{ loop.index }}" class="panel-collapse collapse">
			      	<div class="panel-body">

						<div class="row">
							<div class="col-md-6">
								<div class="input-group">
								<span class="input-group-addon" data-toggle="tooltip" data-placement="right" title="Ciudad donde trabajaste"><i class="fa fa-map-marker"></i></span>
								<input type="text" class="form-control" name="_city{{loop.index}}" placeholder="Ciudad.." 
								value="{{exp.city}}" pattern="^[a-zA-ZñÑáéíóú ]+" required/>		
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group">
								<span class="input-group-addon" data-toggle="tooltip" data-placement="right" title="País donde trabajaste"><i class="fa fa-globe"></i></span>
								<input type="text" class="form-control" name="_country{{loop.index}}" placeholder="Pais.." 
								value="{{exp.country}}" pattern="^[a-zA-ZñÑáéíóú ]+" required/>	
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-md-6">
								<div class="input-group">
								<span class="input-group-addon" data-toggle="tooltip" data-placement="right" title="Empresa donde trabajaste"><i class="fa fa-building-o"></i></span>
								<input type="text" class="form-control"  name="_company{{loop.index}}" placeholder="Empresa.."  
								value="{{exp.company}}" required/>	
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group">
								<span class="input-group-addon" data-toggle="tooltip" data-placement="right" title="Puesto que desempeñaste"><i class="fa fa-briefcase"></i></span>
								<input type="text" class="form-control" name="_rol{{loop.index}}" placeholder="Rol.." 
								value="{{exp.rol}}" required/>
								</div>
							</div>
						</div>
						<br>
						{% set meses = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"] %}
						<div class="form_group">
						<label><i class="fa fa-calendar" data-toggle="tooltip" data-placement="top" title="Año de inicio"></i>&nbsp;Fecha incio:</label>
						{% set fechaInicio = exp.startDate|split(',') %}
						{% set fechaFin = exp.endDate|split(',') %}
						<div class="row">
							<div class="col-md-4">
								<select class="form-control" id="desdeMes{{loop.index}}" name="_desdeMes{{loop.index}}" required>
									<option value="" {% if fechaInicio|first == " " %}selected{% endif %}>Mes:</option>
									{% for mes in meses %}
										<option value={{loop.index}} {% if fechaInicio|first == loop.index %}selected{% endif %}>{{mes}}</option>
									{% endfor %}			
								</select>		  	    
							</div>
							<div class="col-md-3">
								<select class="form-control" id="desdeAño{{loop.index}}" name="_desdeAño{{loop.index}}" required>
									<option value="">Año:</option>
									{% for i in 'now'|date('Y')..1940 %}
									<option {% if fechaInicio|last == i %}selected{% endif %}>{{i}}</option>
									{% endfor %}
								</select>		   
							</div>
							<div class="col-md-5">
								<div class="checkbox">
									<label>
										{% if fechaFin|first is not empty %}
										<input type="checkbox" id="expNow{{loop.index}}" onchange="expNow_changed{{loop.index}}()">
										{% else %}
										<input type="checkbox" id="expNow{{loop.index}}" checked="checked" onchange="expNow_changed{{loop.index}}()">
										{% endif %}
										Experiencia Actual
									</label>
								</div>
							</div>
						</div>
						</div>
						<div class="form_group" id="group_expNow{{ loop.index }}">
						<label><i class="fa fa-calendar" data-toggle="tooltip" data-placement="top" title="Año de Término"></i>&nbsp;Fecha Término:</label>
						<div class="row">
							<div class="col-md-4">
								<select class="form-control" id="hastaMes{{loop.index}}" name="_hastaMes{{loop.index}}" required="required">
									<option value="" {% if fechaFin|first == " " %}selected{% endif %}>Mes:</option>
									{% for mes in meses %}
										<option value={{loop.index}} {% if fechaFin|first == loop.index %}selected{% endif %}>{{mes}}</option>
									{% endfor %}				
								</select>		  	    
							</div>
							<div class="col-md-3">
								<select class="form-control" id="hastaAño{{loop.index}}" name="_hastaAño{{loop.index}}" required="required">
									<option value="">Año:</option>
									{% for i in 'now'|date('Y')..1940 %}
									<option {% if fechaFin|last == i %}selected{% endif %}>{{i}}</option>
									{% endfor %}
								</select>		
							</div>
						</div>
						</div>
						<br>
						<div class="form_group">
							<textarea class="form-control" rows="3" name="_description{{loop.index}}" placeholder="Descripción (Opcional)..">{{exp.description}}</textarea>
						</div>
					</div>
			    </div>
			</div>

		{% endfor %}
		</div>
		<div class="modal-footer">
	        <button type="submit" class="btn btn-blue" id="loading-example-btn" data-loading-text="Loading...">Guardar</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	    </div>
		{% else %}
		<p><i class="fa fa-plus-square"></i> Agrega Experiencia Profesional</p>
		<div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	    </div>
		{% endif %}
	</form>
{% endblock %}

{% block new_experience %}
<form action="{{ path('_new_experiencia') }}" method="POST" role="form">
	<div class="form_group">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Ciudad donde trabajaste"><i class="fa fa-map-marker"></i></span>
				<input type="text" class="form-control" id="city" name="_city" placeholder="Ciudad.." pattern="^[a-zA-ZñÑáéíóú ]+" required/>	    
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="País donde trabajaste"><i class="fa fa-globe"></i></span>
				<input type="text" class="form-control" id="country" name="_country" placeholder="País.." pattern="^[a-zA-ZñÑáéíóú ]+" required/>	
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="form_group">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Empresa donde trabajaste"><i class="fa fa-building-o"></i></span>
				<input type="text" class="form-control" id="company" name="_company" placeholder="Empresa.." required/> 
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" data-placement="top" title="Puesto que desempeñaste"><i class="fa fa-briefcase"></i></span>
				<input type="text" class="form-control" id="rol" name="_rol" placeholder="Rol.." required/>	
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="form_group">
		<label><i class="fa fa-calendar" data-toggle="tooltip" data-placement="top" title="Año de inicio"></i>&nbsp;Fecha incio:</label>
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" name="_desdeMes" required>
					<option value="">Mes:</option>
					<option value="1">Enero</option>
					<option value="2">Febrero</option>
					<option value="3">Marzo</option>
					<option value="4">Abril</option>
					<option value="5">Mayo</option>
					<option value="6">Junio</option>
					<option value="7">Julio</option>
					<option value="8">Agosto</option>
					<option value="9">Septiembre</option>
					<option value="10">Octubre</option>
					<option value="11">Noviembre</option>
					<option value="12">Diciembre</option>				
				</select>		  	    
			</div>
			<div class="col-md-3">
				<select class="form-control" name="_desdeAño" required>
					<option value="">Año:</option>
					{% for i in 2014..1940 %}
					<option>{{i}}</option>
					{% endfor %}
				</select>		    
			</div>
			<div class="col-md-6">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="expNow" checked="checked" onchange="expNow_changed()">
						Experiencia Actual
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="form_group" id="group_expNow">
		<label><i class="fa fa-calendar" data-toggle="tooltip" data-placement="top" title="Año de Término"></i>&nbsp;Fecha Término:</label>
		<div class="row">
			<div class="col-md-3">
				<select class="form-control" id="hastaMes" name="_hastaMes" required="required">
					<option value="">Mes:</option>
					<option value="1">Enero</option>
					<option value="2">Febrero</option>
					<option value="3">Marzo</option>
					<option value="4">Abril</option>
					<option value="5">Mayo</option>
					<option value="6">Junio</option>
					<option value="7">Julio</option>
					<option value="8">Agosto</option>
					<option value="9">Septiembre</option>
					<option value="10">Octubre</option>
					<option value="11">Noviembre</option>
					<option value="12">Diciembre</option>				
				</select>		  	    
			</div>
			<div class="col-md-3">
				<select class="form-control" id="hastaAño" name="_hastaAño" required="required">
					<option value="">Año:</option>
					{% for i in 2014..1940 %}
					<option>{{i}}</option>
					{% endfor %}
				</select>		        		
			</div>
		</div>
	</div>
	<br>
	<div class="form_group">
		<textarea class="form-control" rows="3" name="_description" placeholder="Descripción (Opcional).."></textarea>
	</div>
	<div class="modal-footer">
        	<button type="submit" class="btn btn-blue">Guardar</button>
        	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
</form>

<script type="text/javascript">

	var check_expNow = document.getElementById("expNow");
	if(check_expNow.checked == true){
		$('#group_expNow').hide();
		$('#hastaMes,#hastaAño').removeAttr('required');
	}

	function expNow_changed(){
		if(check_expNow.checked == true){
			$('#group_expNow').hide();
			$('#hastaMes,#hastaAño').removeAttr('required');
			$('#hastaMes').val("");
			$('#hastaAño').val("");
		}else{
			$('#group_expNow').show();
			$('#hastaMes,#hastaAño').attr('required','required');

		}
	};
	{% if datosE %}
	{% for experiencia in datosE %}
		var check_expNow{{loop.index}} = document.getElementById("expNow{{loop.index}}");
		if(check_expNow{{loop.index}}.checked == true){
			$('#group_expNow{{loop.index}}').hide();
			$('#hastaMes{{loop.index}},#hastaAño{{loop.index}}').removeAttr('required');
			$('#hastaMes{{loop.index}}').val("");
			$('#hastaMes{{loop.index}}').val("");
		}
		else{
			$('#group_expNow{{loop.index}}').show();
		}

		function expNow_changed{{loop.index}}(){
			if(check_expNow{{loop.index}}.checked == true){
				$('#group_expNow{{loop.index}}').hide();
				$('#hastaMes{{loop.index}},#hastaAño{{loop.index}}').removeAttr('required');
				$('#hastaMes{{loop.index}}').val("");
				$('#hastaAño{{loop.index}}').val("");
			}else{
				$('#group_expNow{{loop.index}}').show();
				$('#hastaMes{{loop.index}},#hastaAño{{loop.index}}').attr('required','required');
			}
		};

		$('#experienciaClose{{loop.index}}').click(function(){
			$('#panelExperiencia{{loop.index}}').remove();
		});
	{% endfor %}
	{% endif %}

</script>
{% endblock %}