{% block delete_image %}
    <form action="{{ path('_delete_image') }}" method="POST" rol="form">
        <h3 class="text-center"> Seguro que deseas eliminar tu Imagen <i class="fa fa-question"></i> </h3>
        <br>
        <div class="modal-footer">
            <button type="submit" class="btn btn-blue" id="name">Eliminar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
    </form>
{% endblock %}


{% block edit_image %}

    <form action="{{path('_edit_imagen') }}" enctype="multipart/form-data"  method="POST">
        <div class="well">
            <h1 class="text-center">
	           <img class="img-rounded" id="imagenPreview" name="_imagenPreview" src="{{asset('bundles/pcvdemo/image/noimagen_edit.png')}}" width="100%">
            </h1>

            <input type="hidden" id="x" name="_x1" value="0" />
            <input type="hidden" id="y" name="_y1" value="0"/>
            <input type="hidden" id="w" name="_w" value="0"/>
            <input type="hidden" id="h" name="_h" value="0"/>
            <input type="hidden" id="wWeb" name="_wWeb" value="1"/>
            <input type="hidden" id="hWeb" name="_hWeb" value="1"/>
            

        </div>
	    <br>
		<input type="file" id="imagenFile" name="_file" accept="image/png,image/jpeg"/>
		<div class="modal-footer">
        	<button type="submit" class="btn btn-blue" id="saveEditImagen">Guardar</button>
        	<button type="button" id="cancelEditImage" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      	</div>
	</form>

<link rel="stylesheet" type="text/css" href="{{asset('bundles/pcvdemo/plugin/jcrop/css/jquery.Jcrop.min.css')}}"/>
<script src="{{asset('bundles/pcvdemo/plugin/jcrop/js/jquery.Jcrop.min.js')}}"></script>
<script type="text/javascript">
    
    var imagenPreview = document.getElementById("imagenPreview");
    var imagenFile = document.getElementById("imagenFile");
    var saveEditImagen = document.getElementById("saveEditImagen");

    var isChange=false;
    var jcrop_api;

    imagenFile.onclick = function(e){
        if(isChange){
            jcrop_api.destroy();
        }
    }

    //si cambia el file
    imagenFile.onchange = function(e){
        var selectedFile = imagenFile.files[0];
        var reader = new FileReader();

        reader.onload = function(event) {
            imagenPreview.src = event.target.result;
            //$('#dataImagen').val(event.target.result);
            $('#wWeb').val(imagenPreview.width);
            $('#hWeb').val(imagenPreview.height);
            loadSelectImage();


        };
        reader.readAsDataURL(selectedFile);
    }


    //empezar a dimensionar 
    function loadSelectImage(){
        $('#imagenPreview').Jcrop({
            onSelect:    function(c){
                $('#x').val(c.x)
                $('#y').val(c.y)
                $('#w').val(c.w)
                $('#h').val(c.h)
                isChange = true;

            },
            bgFade: true,
            bgColor:     'black',
            setSelect: [20,20,70,70],
            aspectRatio: 4 / 4
        },function(){
            jcrop_api = this;
        });
    }
    
    $('#cancelEditImage,#addImagen').click(function(){
        location.href='{{path('_private_resume_profile')}}';
    });
</script>

{% endblock %}