{% extends 'PCVDemoBundle:Plantillas:page.html.twig' %} 

{% block title 'tuCV | Contraseña'  %}

{% block navbar %}
	{% embed 'PCVDemoBundle:Plantillas:pagenav.html.twig' %}
		{% block navbar %}
			{{parent()}}
		{% endblock %}
	{% endembed %}
{% endblock %}


{% block contenido %}
<div class="container">
{# alerta resultado del formulario #}
    {% if flag == 1 %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <i class="fa fa-check-circle"></i>&nbsp;<strong>Finalizado!</strong>&nbsp;cambios realizados con exito
        </div>
    {% elseif flag == 0 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <i class="fa fa-times-circle"></i>&nbsp;<strong>Cancelado!</strong>&nbsp;ocurrio un error al guardar los cambios
        </div>
    {% elseif flag == 2 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <i class="fa fa-times-circle"></i>&nbsp;<strong>Cancelado!</strong>&nbsp;Ingrese Contraseña actual válida
        </div>
    {% endif %}



	<div class="page-header">
		<h2 class="text-muted"> Configuración: <small><em>Contraseña</em></small></h2>
	</div>

	<form id="formPassword" action="{{path('_edit_password')}}" method="POST" role="form">

		<div class="page-header">
			<h5 class="text-primary">Cambia tu contraseña.</h5>
		</div>

		<div class="form-group">
            <label class="text-muted">Contraseña Actual</label>
            <input type="password" class="form-control" name="_password" placeholder="Contraseña actual" autofocus required />
	    </div>
    	
    	{% if app.user %}
    		<a href="{{path('_private_secured_resend')}}">¿olvidaste tu contraseña?</a>
    	{% else %}
    		<a href="{{path('_secured_resend')}}">¿olvidaste tu contraseña?</a>
    	{% endif %}

	    <hr>

	    <div class="form-group">
            <label class="text-muted">Nueva Contraseña</label>
            <input type="password" class="form-control" name="_passwordNew" pattern=".{4,}" placeholder="Contraseña"autofocus required />
	    </div>

	    <div class="form-group">
	    	<label class="text-muted">Confirmar Contraseña</label>
            <input type="password" class="form-control" name="_confirmPasswordNew" pattern=".{4,}" placeholder="Confirmar Contraseña" autofocus required />
	    </div>
				
		<div class="modal-footer">
	        <button type="submit" id="btn-contraseña" class="btn btn-default"><i class="fa fa-lock"></i>&nbsp;Guardar</button>
	    </div>
	</form>
	  
	<div class="modal-footer">
		<a type="button" class="btn btn-default" href="{{ path('_private_secured_account') }}"><i class="fa fa-globe"></i>&nbsp;Cuenta</a>
		<a type="button" class="btn btn-default active" href="{{ path('_private_secured_password') }}"><i class="fa fa-lock"></i>&nbsp;Contraseña</a>
	</div>

</div>

<script src="{{ asset('bundles/pcvdemo/plugin/validator/js/formValidation.js') }}"></script>
<script src="{{ asset('bundles/pcvdemo/plugin/validator/js/framework/bootstrap.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
 	exist();

    $('#formPassword').formValidation({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            _password: {
                validators: {
                    notEmpty: {
                        message: 'Contraseña no puede estar vacía'
                    }
                }
            }, 
            _passwordNew: {
                validators: {
                    notEmpty: {
                        message: 'Contraseña no puede estar vacía'
                    }
                }
            },
            _confirmPasswordNew: {
                validators: {
                    notEmpty: {
                        message: 'Contraseña no puede estar vacía'
                    },
                    identical: {
                        field: '_passwordNew',
                        message: 'Contraseñas no coinciden'
                    }
                }
            }
        }
    });
       
    function exist(){
        if($('.alert') != null ){
            setTimeout(function(){ $('.alert').hide(1000); }, 5000);
        }
    };
});
</script>
{% endblock %}


{% block footer_page %}

    <!-- mostramos el texto de cabecera  -->
    {% use 'PCVDemoBundle:Contenido:contenido.html.twig' %}
    {% block footer %}
      {{parent()}}
    {% endblock %}
    <!-- end embed -->

{% endblock %}