{% block certificaciones_private %}
	
	{% block certificaciones_public %}
	
		{% if datosCe %}
		{% set meses = ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"] %}
			{% for certificacion in datosCe %}
		
				{% set fechaStart = certificacion.startDate|split(',') %}
				{% set fechaEnd = certificacion.endDate|split(',') %}
			 	<div class="row">
				 	<div class="col-md-12">

						<h5 class="label label-yellow">{{meses[fechaStart|first -1]}},&nbsp;{{fechaStart|last}}</h5>-
						{% if fechaEnd|first  is not empty %}
							<h5 class="label label-yellow">{{meses[fechaEnd|first -1]}},&nbsp;{{fechaEnd|last}}</h5>
						{% else %}
							<h5 class="label btn-blue-dark">no vence</h5>
						{% endif %}

						<br>
						<h5 class="label label-info">{{certificacion.city}}, {{certificacion.country}}</span>
					
						<h4 class="text-primary"><strong>{{certificacion.title}}</strong></h4>
						<h4 class="text-muted"><em><strong>{{certificacion.emisor}}</strong></em></h4>
						<h5 class="text-muted">{{certificacion.description}}</h5>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h5 class="text-center text-muted">
				<a href="#" data-toggle="modal" data-target="#newCerti">
					<em><i class="fa fa-plus-circle"></i>&nbsp;agregar certificados</em>
				</a>
			</h5>
		{% endif %}
	{% endblock %}

	<div class="">
		<h3 class="panel-title">
			<div class="btn-group pull-right">
			  	<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
			    	<i class="fa fa-pencil"></i> <span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu" role="menu">
			    	<li><a href="#" data-toggle="modal" data-target="#newCerti"><i class="fa fa-file-text"></i> nueva Certificación</a></li>
			    	<li><a href="#" data-toggle="modal" data-target="#editCerti"><i class="fa fa-edit"></i> editar Certificaciónes</a></li>
			  	</ul>
			</div>
		</h3>
	</div>
{% endblock %}

{% block modal_certificaciones %}
<!-- Modal -->
<div class="modal fade" id="editCerti" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar Certificaciones</h4>
      </div>
      <div class="modal-body">
        {% use 'PCVDemoBundle:Edit:certificacion.html.twig' %}
        {% block edit_certificaciones %}
        {{parent()}}
        {% endblock %}
      </div>
    </div>
  </div>
</div>


<!-- New Modal -->
<div class="modal fade" id="newCerti" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Nueva Certificación</h4>
      </div>
      <div class="modal-body">
        {% use 'PCVDemoBundle:Edit:certificacion.html.twig' %}
        {% block new_certificacion %}
        {{parent()}}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}